aws-cfn-bootstrap==2.0
blurhash==1.1.4
certifi==2021.10.8
charset-normalizer==2.0.12
decorator==5.1.1
docutils==0.14
gfycat==0.2.2
idna==3.3
imgurpython==1.1.7
lockfile==0.11.0
Mastodon.py==1.5.1
oauthlib==3.2.0
Pillow==9.1.0
praw==7.5.0
prawcore==2.3.0
pystache==0.5.4
python-daemon==2.2.3
python-dateutil==2.8.2
python-magic==0.4.25
pytz==2022.1
requests==2.27.1
requests-oauthlib==1.3.1
simplejson==3.2.0
six==1.16.0
tweepy==4.9.0
update-checker==0.18.0
urllib3==1.26.9
websocket-client==1.3.2
